<!DOCTYPE html>
<html>
<body>
    <h1>Resultado de la Compra</h1>
    <% 
    function displayRecursive(obj) {
        for(let key in obj) {
            if(typeof obj[key] === 'object' && obj[key] !== null) {
                %><p><%= key %>:</p><%
                displayRecursive(obj[key]);
            } else {
                %><p><%= key %>: <%= obj[key] %></p><%
            }
        }
    }
    displayRecursive(resultado);
    %>
    <a href="/">Volver a la lista de productos</a>
</body>
</html>
